{{response.title = 'ioThings - 404' if user_device is None else user_device.name}}
{{extend 'layout.html'}}
{{include 'chart.html'}}
{{include 'toggle_switch.html'}}

{{if user_device is None and units is None:}}
    <div class="alert alert-danger" role="alert">Sorry, either you're not authorized to view this device or the device you're looking for does not exist.</div>
{{else:}}

<script>
var refreshRate = 3; //seconds
var graphDataInterval;
var lineChart1, lineChart2;
var lastTimeStamp =  "";
var maxGraphData = 12;
var units1 = "", units2 = "";

$(function() {
    initializeCheckBox();
    units1 = $("#units-1").val();
    units2 = $("#units-2").val();

    lineChart1 = initializeChart("#line-chart-1");
    lineChart2 = initializeChart("#line-chart-2");

    function initializeCheckBox() {
        var powerCheckBox = $("#checkBox");
        if (powerCheckBox.bootstrapSwitch("state")) {
            startTimer();
        }

        powerCheckBox.on('switchChange.bootstrapSwitch', function(event, state) {
            if (state) {
                startTimer();
            } else {
                endTimer();
            }
        });
    }

    function initializeChart(canvasId) {
        var chartConfig = {
            type: 'line',
            data: {
                datasets: [{
                    label: "",
                    fill: false,
                    lineTension: 0.1,
                    backgroundColor: "rgba(75,192,192,0.4)",
                    borderColor: "rgba(75,192,192,1)",
                    borderCapStyle: 'butt',
                    borderDash: [],
                    borderDashOffset: 0.0,
                    borderJoinStyle: 'miter',
                    pointBorderColor: "rgba(75,192,192,1)",
                    pointBackgroundColor: "#fff",
                    pointBorderWidth: 1,
                    pointHoverRadius: 5,
                    pointHoverBackgroundColor: "rgba(75,192,192,1)",
                    pointHoverBorderColor: "rgba(220,220,220,1)",
                    pointHoverBorderWidth: 2,
                    pointRadius: 1,
                    pointHitRadius: 10,
                    spanGaps: true,
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        },
                        scaleLabel: {
                            display: true,
                            labelString: ""
                        }
                    }],
                    xAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: "Time"
                        }
                    }],
                }
            }
        };

        return new Chart($(canvasId), chartConfig);
    }

    function startTimer() {
        graphDataInterval = setInterval(function() {
            var data = {"user_device_id" : $("#user_device_id").val()};
            $.getJSON("/things/api/device_data/", data, function(json) {
                displayJson(json);
            });
        }, refreshRate * 1000);
    }

    function displayJson(json) {
        if (lastTimeStamp == json.updated_at) {
            return;
        }

        var times = 1;
        $("#stats-container p").slice(1).remove();

        $.each($.parseJSON(json.raw_data), function(key, value) {
            var targetChart = times++ == 1 ? lineChart1 : lineChart2;
            var targetUnits = targetChart == lineChart1 ? units1 : units2;
            var labelValue = key.capitalize() + " " + "(" + targetUnits + ")";

            var b = $("<b>" + key.capitalize() + ": </b>");
            var c = $("<code>" + value.toFixed(1) + " " + targetUnits + "</code>");
            var p = $("<p></p>").append([b, c]);
            $("#stats-container").append(p);

            if (targetChart.data.datasets[0].data.length >= maxGraphData) {
                targetChart.data.datasets[0].data.splice(0, 1);
                targetChart.data.labels.splice(0, 1);
            }

            targetChart.data.datasets[0].label = labelValue;
            targetChart.options.scales.yAxes[0].scaleLabel.labelString = labelValue;
            targetChart.data.datasets[0].data.push(value.toFixed(1));

            targetChart.data.labels.push(json.updated_at);
            targetChart.update();
            lastTimeStamp = json.updated_at;
        });
    }

    function endTimer() {
        clearInterval(graphDataInterval);
    }

    String.prototype.capitalize = function() {
        var words = this.split("_");

        for (var i = 0; i < words.length; i++) {
            words[i] = words[i].charAt(0).toUpperCase() + words[i].slice(1);
        }

        return words.join(" ");
    }
});

</script>
<div class="hidden_attributes">
    <input type="hidden" id="units-1" value="{{=units["units_1"]}}">
    <input type="hidden" id="units-2" value="{{=units["units_2"]}}">
    <input type="hidden" id="user_device_id" value="{{=user_device.id}}">
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="panel panel-default collapseable">
                <div class="panel-heading">{{=user_device.name}} - Current State
                    <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
                </div>
                <div class="panel-body">
                    <div id="stats-container" class="container">
                        <p>
                            <label>Power: </label>
                            <input id="checkBox" type="checkbox" data-user-device-id="{{=user_device.id}}" data-inverse="true" data-on-color="success" data-off-color="danger" data-size="mini" {{='checked' if user_device.is_on else ''}}>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-lg-6">
        <div class="panel panel-default collapseable">
            <div class="panel-heading">Graph #1
                <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
            </div>
            <div class="panel-body">
                <canvas id="line-chart-1" width="400" height="260"></canvas>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-6">
        <div class="panel panel-default collapseable">
            <div class="panel-heading">Graph #2
                <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
            </div>
            <div class="panel-body">
                <canvas id="line-chart-2" width="400" height="260"></canvas>
            </div>
        </div>
    </div>
</div>
{{pass}}
